*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/aajavaTest/
/PDALibrary/build/intermediates/intermediate-jars/debug/classes.jar
.idea/vcs.xml
PDALibrary/build/generated/assets/
PDALibrary/build/generated/res/
PDALibrary/build/generated/source/aidl/
PDALibrary/build/generated/source/apt/
PDALibrary/build/generated/source/rs/
PDALibrary/build/intermediates/bundles/debug/aidl/
PDALibrary/build/intermediates/bundles/debug/assets/
PDALibrary/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
PDALibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
PDALibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
PDALibrary/build/intermediates/incremental/packageDebugResources/merged.dir/
PDALibrary/build/intermediates/incremental/packageDebugResources/stripped.dir/
PDALibrary/build/intermediates/incremental/processDebugAndroidTestResources/
PDALibrary/build/intermediates/incremental/processDebugResources/
PDALibrary/build/intermediates/intermediate-jars/debug/jni/
PDALibrary/build/intermediates/jniLibs/
PDALibrary/build/intermediates/rs/
PDALibrary/build/intermediates/shaders/
PDALibrary/build/intermediates/tmp/
PDALibrary/build/tmp/
PDALibrary/res/drawable-ldpi/
PDALibrary/res/layout/
SeekArc_library/build/generated/assets/
SeekArc_library/build/generated/res/
SeekArc_library/build/generated/source/aidl/
SeekArc_library/build/generated/source/apt/
SeekArc_library/build/intermediates/bundles/debug/aidl/
SeekArc_library/build/intermediates/bundles/debug/assets/
SeekArc_library/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
SeekArc_library/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
SeekArc_library/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
SeekArc_library/build/intermediates/incremental/packageDebugResources/stripped.dir/
SeekArc_library/build/intermediates/incremental/processDebugAndroidTestResources/
SeekArc_library/build/intermediates/incremental/processDebugResources/
SeekArc_library/build/intermediates/intermediate-jars/debug/jni/
SeekArc_library/build/intermediates/jniLibs/
SeekArc_library/build/intermediates/shaders/
SeekArc_library/build/intermediates/tmp/
SeekArc_library/build/tmp/
app/src/androidTest/
app/src/test/
panellistlibrary/
/aajavaTest/src/main/java/com/microtechmd/javatest/MyTest.java
/aajavaTest/build.gradle
.idea/assetWizardSettings.xml
.idea/caches/
.idea/codeStyles/
IMLib/AndroidManifest.xml
IMLib/build.gradle
IMLib/build/
IMLib/libs/
IMLib/res/
PDALibrary/build/intermediates/check-manifest/
PDALibrary/build/intermediates/lint/
SeekArc_library/build/generated/source/rs/
SeekArc_library/build/intermediates/bundles/debug/res/drawable/seek_arc_thumb.xml
SeekArc_library/build/intermediates/check-manifest/
SeekArc_library/build/intermediates/lint/
SeekArc_library/build/intermediates/rs/
